<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="#" class="navbar-brand" style="padding-left: 10px;"><i class="fa fa-cube"></i>Zero<b>dha</b></a>
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="stocks" routerLinkActive="active" class="nav-link" >Order History</a>
      </li>
      <li class = "nav-item">
        <a routerLink="create-stock" routerLinkActive="active" class="nav-link" >Stock Order</a>
    </li>
    <li class = "nav-item">
      <a routerLink="chart-form" routerLinkActive="active" class="nav-link" style="padding-right: 600px;">Charts</a>
  </li>
    <form id="form_search" name="form_search" method="get" action="" class="form-inline">
      <div class="form-group">
        <div class="input-group">
         <input class="form-control" placeholder="Search for..." type="text" class ="form-control" id = "stockTicker"
         [(ngModel)] = "stock.stockTicker" name = "stockTicker" >
         <span class="input-group-btn">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="listStocksByStockTicker(stock.stockTicker)">Search</button>
         </span>
       </div>
     </div>
   </form>
  </ul>
</nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>

<footer class = "footer">
  <div class = "container">
      <span class="badge"><h6>Team Mount Everest</h6></span>
  </div>
</footer>